<!doctype html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
 <script src="app.js"></script>
<script src="typeAheadService.js"></script>
<script src="typeAheadCtrl.js"></script>
<script src="typeAheadWidget.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="Scripts/StyleSheet1.css" rel="stylesheet" />
</head>
<body  ng-app="typeAhead">
    <div class='container-fluid typeahead-demo' ng-controller="typeAheadCtrl as vm" style="width:710px">
	 <h3>This is type ahead search (ex.: buy, sell, rent) category based.</h3>
        <h4>Please type comma if you want to move down to sub-category!</h4>
        <pre>Your are searching for: {{vm.selected | json}}</pre>
   
        <input type="text" ng-model="vm.selected" uib-typeahead="comand for comand in vm.commands | bycommand:$viewValue | limitTo:20" ng-keyup="vm.checkIfEnterKeyWasPressed($event, vm.selected)" class="form-control">
        <h4>Bellow is a widget custom directive:</h4>
        <input type="text" ng-model="selected" type-ahead-widget uib-typeahead="comand for comand in commands | bycommand:$viewValue | limitTo:20" ng-keyup="checkIfEnterKeyWasPressed($event, selected)" class="form-control">
        <h4>This directive can be used stand allone on any("angularish") web page !!</h4>
    </div>
</body>


</html>